Meta
CRAN-SUBMISSION
doc
.Rproj.user
.Rhistory
.RData
..Rcheck/
*.Rproj
CRAN-RELEASE
.secret
inst/doc
revdep/
tests/testthat/api-key.txt
*.pdf
rnassqs.Rcheck
rnassqs_*.tar.gz
*~
\#*\#
.\#*
/doc/
/Meta/
.Rprofile